.Comment-feed {
  background: #121513;
  border-radius: 5px;
  padding: 10px;
}

.Comment-feed > div > div{
  background: #24232d;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: #eee37b;
}

.Comment-form textarea {
  height: 100px;
  width: 400px;
}

.Comment-form a {
  width: 100%;
  height: 100%;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-family: Ubuntu;
  font-size: 1.15em;
  font-weight: lighter;
  letter-spacing: 1px;
  transition: .25s ease-in-out;
}

.Comment-form a:hover {
  color: #eee37b;
}