.Create-post {
  width: 530px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  background: #121513;
  text-align: center;
}

.Create-post > textarea{
  height: 400px;
  width: 500px;
}

.Create-post > input, textarea {
  display: block;
  margin: 10px;
}

.Create-post > a {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  font-family: Ubuntu;
  font-size: 1.15em;
  font-weight: lighter;
  letter-spacing: 1px;
  transition: .25s ease-in-out;
}

.Create-post > a:hover {
  color: rgb(220, 120, 0);
}