.Post-feed {
  display: block;
}

.Post {
  font-family: Ubuntu;
  text-indent: 1.5em;
  text-align: left;
  background: #121513;
  border-radius: 5px;
  padding: 30px;
  width: 500px;
  margin: 10px auto 10px auto;
}
