body{
  background: gray;
}
.App{
  text-align: center;
}
.App-title{
  padding-top: 50px;
  color: lightgray;
  height: 100px;
  margin: 0;
  clear: both;
}
.App-main-feed{
  background: #DDDDDD;
  position: relative;
  margin: 0;
  padding: 0;
}
.User-profile{
  background: lightgray;
  text-align: right;
}