.App{
  text-align: center;
}
.App-title{
  background: gray;
  padding-top: 50px;
  color: lightgray;
  height: 100px;
  margin: 0;
}
.App-main-feed{
  background: #EEEEEE;
}
.User-profile{
  background: lightgray;
  text-align: right;
}